.tabList {
  display: flex;
  flex-direction: column;
  div {
    &.headertab {
      display: flex;
      flex-direction: row;
    }
  }
}
.delete {
  &:hover {
    border-radius: 10px;
    background-color: #ddd;
    cursor: pointer;
  }
}
.tabbox {
  display: flex;
  align-items: center;
}
