.AppBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  height: 40px;
  div {
    &.logoBox {
      display: flex;
      gap: 5px;
      margin-left: 10px;
    }
    &.second {
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      div {
        &.stateBox {
          gap: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            &.workstate {
              background-color: #4caf50;
              color: #fff;
              border-radius: 10px;
              font-weight: 700;
              font-size: 15px;
              width: 80px;
              height: 25px;
              display: flex;
              align-items: center;
            }
          }
          button {
            background-color: #fff;
            color: #bbb;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        &.companyBox {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 15px;
          font-weight: 700;

          button {
            cursor: pointer;
            background-color: #fff;
            color: #bbb;
            border: 1px solid;
            border-radius: 5px;
          }
        }
        &.nicknameBox {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          font-size: 15px;
          font-weight: 700;

          img {
            width: 25px;
            height: 25px;
            object-fit: cover;
          }
        }
        &.timeBox {
          display: flex;
          align-items: center;
        }
        &.myinfoBox {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            cursor: pointer;
          }
          span {
            font-size: 15px;
            color: #87878d;
            font-weight: 500;
          }
        }
        &.logoutBox {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            cursor: pointer;
          }
          span {
            font-size: 15px;
            color: #87878d;
            font-weight: 500;
          }
        }
      }
    }
  }
}
