.appbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: '35px';
}

.img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.logoBox {
  display: flex;
  gap: 5px;
  margin-left: 20px;
}
.second {
  display: flex;
  margin-right: 40px;
}
.workbtn {
}
.timeBox {
  display: flex;
}
