.sideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  border: 1px solid #ddd;

  width: 80px;
  padding: 6px;
  opacity: 0.8;
  overflow: hidden;
  height: calc(100vh - 35px);

  div {
    &.menuBox {
      margin-bottom: 5px;
    }
  }
  button {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;

    cursor: pointer;
    &:hover {
      background-color: #e9e9eb;
      font-weight: 700;
    }
  }
}
.folder {
  display: flex;
}
