.sideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  border-right: 1px solid #ddd;

  padding: 6px;
  opacity: 0.8;
  overflow: hidden;
  height: calc(100vh - 35px);

  div {
    &.menuBox {
      margin-bottom: 5px;
    }
    &.menuItem {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 80px;
      height: 60px;
      gap: 10px;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #e9e9eb;
        font-weight: 700;
      }
    }
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    border: 1px solid #bbb;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    &:hover {
      background-color: #e9e9eb;
      font-weight: 700;
    }
  }
}
