.sideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: #fafafa;
  border-right: 1px solid #b1b1b8;
  align-items: center;
  width: 130px;
  opacity: 0.8;
  overflow: hidden;
  transition: right 0.3s ease-in-out;

  div {
    &.menuBox {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &.menuItem {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 80px;
      height: 60px;
      gap: 10px;
      align-items: center;
      justify-content: center;
      background-color: #f2f2f3;
      border-radius: 10px;
      border: 1px solid #bbb;
      &:hover {
        background-color: #e9e9eb;
        font-weight: 700;
      }
    }
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 80px;
    height: 60px;
    border: 1px solid #bbb;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    &:hover {
      background-color: #e9e9eb;
      font-weight: 700;
    }
  }
}
.slideBox.open {
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.close {
  display: flex;
  flex-direction: column-reverse;
}
